.logo img {
  display: block;
  height: 77px;
  width: 265px;
  margin: auto;
}
.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: black;
  height: 44px;
}
.userInfo {
  display: flex;
  align-items: center;
}
.user {
  margin-right: 33px;
  font-size: 1.2rem;
  font-weight: 550;
  color: wheat;
}
.userImg {
  height: 34px;
  border-radius: 50%;
  border: 1.5px solid white;
}
.nav-item-container {
  display: flex;
  align-items: center;
  color: white;
}
.nav-item {
  margin: 2px 12px;
  list-style: none;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}

.nav-item a {
  padding: 2px 6px;
  text-decoration: none;
  color: white;
}
.nav-item a:hover {
  border-radius: 20px;
  background: white;
  color: black;
}
